@using System.Web.Optimization
@model IEnumerable<SolarSystemWeb.Models.Entities.SpaceObjectDto>

@{
    ViewBag.Title = "Главная";
    Layout = "../Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/starry")
@Scripts.Render("~/bundles/solar")
@Scripts.Render("~/bundles/mainPage")
@Scripts.Render("~/bundles/info")

@Styles.Render("~/Styles/starry")
@Styles.Render("~/Styles/index")

<script>
    var Solar = null;

    $().ready(
        function() {
            var spaceObjects = [];

            @foreach (var item in Model)
            {
                <text>
                    var obj = {
                        id: @item.Id,
                        name: '@item.Name',
                        distance: @item.Distance.ToString("F").Replace(',', '.'),
                        isSun: @item.IsSun.ToString().ToLower(),
                        needShow: true,
                        ownerId: @item.OwnerId
                    };
                </text>                

                @:spaceObjects.push(obj);
                            @:$('select.multiselect').find("option[value=" + @item.Id + "]").prop("selected", "selected");

            }

            $('select.multuselect').multiselect('refresh');            

            Solar = new App(document.getElementById("system_canvas"), spaceObjects, infoCallback);
        });

        function setOrbitVisible(flag) {
            
        }

</script>

@{ Html.RenderAction("TopPanel"); }


<table>
    <tr>
        <td style="vertical-align: top;">
            <div id="mainArea">
                <canvas id="star_field" width="800" height="800" ></canvas>
                <canvas id="system_canvas" width="800" height="800" ></canvas>
            </div>
        </td>
        <td style="vertical-align: top;">
            <div id='panel' class="jumbotron">
                <label id="orbitLabel">Отображать орбиты</label>    
                <input id="orbitCheckbox" type="checkbox" checked="checked" onchange="Solar.setOrbitVisibility($(this).is(':checked'))" />
            </div>
            
            <div id="info" class="jumbotron">
                <h2>Информация</h2>
                <p id="stub">Ничего не выбрано</p>
            </div>
        </td>
    </tr>
</table>