@using System.Web.Optimization
@model IEnumerable<SolarSystemWeb.Models.Entities.SpaceObjectDto>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/starry")
@Scripts.Render("~/bundles/mainPage")

@Styles.Render("~/Styles/starry")

<script src="/Scripts/system.js"></script>
<script src="/Scripts/additional.js"></script>
<script src="/Scripts/point.js"></script>
<script src="/Scripts/orbit.js"></script>
<script src="/Scripts/planet.js"></script>
<script src="/Scripts/tile.js"></script>
<script src="/Scripts/mouse.js"></script>

<script>
    var Solar = null;

    $().ready(
        function() {
            var spaceObjects = [];
            
            @foreach (var item in Model)
            {                
                @:var obj = { id: @item.Id, name: '@item.Name', distance: @item.Distance.ToString("F").Replace(',', '.'), isSun: @item.IsSun.ToString().ToLower(), needShow: true };
                @:spaceObjects.push(obj);
                @:$('select.multiselect').find("option[value=" + @item.Id + "]").prop("selected", "selected");
            }

            $('select.multuselect').multiselect('refresh');

            Solar = new App(document.getElementById("system_canvas"), spaceObjects);

        });

</script>

@{ Html.RenderAction("TopPanel"); }

<div id="mainArea">
    <canvas id="star_field"    width="800" height="800" style="position: absolute; top: 70px; left: 30px;" ></canvas>
    <canvas id="system_canvas" width="800" height="800" style="position: absolute; top: 70px; left: 30px; z-index: 10;"></canvas>
</div>
