@using System.Web.Optimization
@model IEnumerable<SolarSystemWeb.Models.Entities.SpaceObjectDto>

@{
    ViewBag.Title = "title";
    Layout = "../Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/starry")
@Scripts.Render("~/bundles/mainPage")

@Styles.Render("~/Styles/starry")


<div id="mainArea">
    <div>
        @{ Html.RenderAction("SpaceObjectTypes"); }
    </div>
    <br/>
    <canvas id="star_field" width="800" height="600"></canvas>
</div>

<br/>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>