@using System.Web.Optimization
@model SolarSystemWeb.Models.Entities.SpaceObjectDto

@Styles.Render("~/Styles/info")

<div >
    <h2>@Model.Name</h2>

    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">@Model.TypeName</span>
            Тип:
        </li>
        <li class="list-group-item">
            <span class="badge">@Model.Mass кг.</span>
            Масса:
        </li>
        <li class="list-group-item">
            <span class="badge">@Model.Radius км.</span>
            Радиус:
        </li>
        <li class="list-group-item">
            <span class="badge">@Model.Distance км.</span>
            Расстояние до Солнца:
        </li>
    </ul>

    <p style="font-size: 14px; line-height: 1.5;">@Model.Description</p>
    <p>
        <a class="btn btn-primary btn-lg" target="_blank" href="@Model.WikiLink" >Больше информации</a>
    </p>
</div>