@using System.Web.Optimization
@using SolarSystemWeb.Models.Helpers
@model SolarSystemWeb.Models.Entities.SpaceObjectDto

@Styles.Render("~/Styles/info")

<div >
    <h3>@Model.Name</h3>

    <table>
        <tr>
            <td style="vertical-align: top;">
                <img src="@(Model.MainImage != null ? Url.Action("Show", "Image", new { Model.Id }) : "/Content/images/default.jpg")" style="width: 230px; height: 230px;" />
            </td>
            <td  style="width: 400px;">
                <ul class="list-group" style="width: 94%;   height: 230px; margin-left: 5%; background-color: #2B3E50;" >
                    <li class="list-group-item">
                        <span class="badge">@Model.TypeName</span>
                        Тип:
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.Mass кг.</span>
                        Масса:
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.Radius км.</span>
                        Радиус:
                    </li>
                    <li class="list-group-item">
                        <span class="badge">
                            @(!Model.IsSun ? Model.Distance + " км." : "-")                                
                        </span>
                        Расстояние до Солнца:
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.SiderealPeriodSpan.ToReadableString()</span>
                        Продолжительность суток:
                    </li>
                    <li class="list-group-item">
                        <span class="badge">@Model.OrbitPeriodSpan.ToReadableString()</span>
                        Продолжительность года:
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <div style="overflow-y: auto; font-size: 14px; line-height: 1.5; max-height: 330px; margin-bottom: 10px">
        @Model.Description
    </div>
    <p>
        <a class="btn btn-primary btn-lg" target="_blank" href="@Model.WikiLink">Больше информации</a>
    </p>
    </div>