@using System.Web.Optimization
@{
    ViewBag.Title = "Администрирование";
    Layout = "../Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/admin")
@Styles.Render("~/Styles/adminTables")


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Солнечная система</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "Home")">Главная <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="@Url.Action("Index", "Admin")">Администрирование</a></li>
            <li class=""></li>
            <li class='objects'><a href="@Url.Action("Index", "Admin")">Космические объекты</a></li>
            <li class='types'><a href="@Url.Action("ObjectTypes", "Admin")">Типы объектов</a></li>            
            <li class='users'><a href="@Url.Action("Index", "User")">Пользователи</a></li>
            <li class='roles'><a href="@Url.Action("Index", "Roles")">Роли</a></li>
            <li><a href="/elmah.axd">Логи ошибок</a></li>
        </ul>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a>@ViewBag.UserName</a></li>
                <li><a href="@Url.Action("Logout", "Account")">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-top: 20px; margin-left: 5%;">
    @RenderBody()
</div>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary ok">Ок</button>
            </div>
        </div>
    </div>
</div>