@using System.Web.Optimization
@model SolarSystemWeb.Models.Entities.SpaceObjectDto
@{    
    Layout = "AdminLayout.cshtml";
}

@Styles.Render("~/Styles/adminValidation")


<form class="form-horizontal" style="width: 40%;" action="@Url.Action("ChangeObject")" method="post" enctype="multipart/form-data">    
    <fieldset>
        <legend>Редактирование</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Название</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.Name)
                @Html.EditorFor(x => x.Name, new {htmlattributes = new {@class = "form-control", placeholder = "Название" } })
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Тип</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.TypeId)
                @Html.DropDownListFor(x => x.TypeId, (SelectList) ViewBag.types, new {@class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Масса</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.Mass)
                @Html.EditorFor(x => x.Mass, new {htmlattributes = new {@class = "form-control", placeholder = "Масса"}})
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Радиус</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.Radius)
                @Html.EditorFor(x => x.Radius, new {htmlattributes = new {@class = "form-control", placeholder = "Радиус"}})
            </div>
        </div>
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Орбита</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.Distance)
                @Html.EditorFor(x => x.Distance, new {htmlattributes = new {@class = "form-control", placeholder = "Радиус орбиты"}})
            </div>
        </div>
        @if (!Model.IsSun)
        {
            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Период обращения</label>
                <div class="col-lg-10">
                    @Html.ValidationMessageFor(m => m.OrbitPeriod)
                    @Html.EditorFor(x => x.OrbitPeriod, new {htmlattributes = new {@class = "form-control", placeholder = "Период обращения"}})
                </div>
            </div>
        }
        <div class="form-group">
            <label for="textArea" class="col-lg-2 control-label">Прод-ть суток</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.SiderealPeriod)
                @Html.EditorFor(x => x.SiderealPeriod, new { htmlattributes = new { @class = "form-control", placeholder = "Продолжительность суток" } })
            </div>
        </div>


        @if (!Model.IsSun)
        {
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Чей спутник</label>
                <div class="col-lg-10">
                    @Html.ValidationMessageFor(m => m.OwnerId)
                    @Html.DropDownListFor(x => x.OwnerId, (SelectList) ViewBag.all, new {@class = "form-control"})
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(x => x.OwnerId)
        }
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Описание</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.Description)
                @Html.TextAreaFor(x => x.Description, new {@class = "form-control", placeholder = "Описание"})
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Подробнее</label>
            <div class="col-lg-10">
                @Html.ValidationMessageFor(m => m.WikiLink)
                @Html.TextAreaFor(x => x.WikiLink, new {@class = "form-control", placeholder = "Ссылка на инфо"})
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Изображение</label>
            <div class="col-lg-10">
                <div style="position: relative;">
                    @Html.ValidationMessageFor(m => m.MainImage)
                    <a class='btn btn-primary' href='javascript:;'>
                        Выберите файл...
                        <input type="file" name='mainImg' style='position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; background-color: transparent; color: transparent;' size="40" onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    &nbsp;
                    <span class='label label-success' id="upload-file-info"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Изображение для схемы</label>
            <div class="col-lg-10">
                <div style="position: relative;">
                    @Html.ValidationMessageFor(m => m.OrbitImage)
                    <a class='btn btn-primary' href='javascript:;'>
                        Выберите файл...
                        <input type="file" name='orbitImg' style='position: absolute; z-index: 2; top: 0; left: 0; filter: alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; opacity: 0; background-color: transparent; color: transparent;' size="40" onchange='$("#upload-orbit-file-info").html($(this).val());'>
                    </a>
                    &nbsp;
                    <span class='label label-success' id="upload-orbit-file-info"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="@Url.Action("Index")" class="btn btn-default">Отмена</a>
            </div>
        </div>
    </fieldset>
</form>