@using System.Web.Optimization
@model IEnumerable<SolarSystemWeb.Models.Entities.SpaceObjectDto>

@{
    ViewBag.Title = "Админка. Объекты";
    Layout = "AdminLayout.cshtml";
}

@Scripts.Render("~/bundles/admin_objects")

<script>
    $().ready(
    function () {
        $('.objects').addClass('active');
    });
</script>

<div id="messages"  style="width: 40%;"></div>

<a href="@Url.Action("CreateObject")" class="btn btn-info">Создать</a>
<br/>
<br/>

<table class="table table-striped table-hover table-nonfluid">
    <thead>
    <tr class="info">
        <th>Название</th>
        <th>Тип</th>
        <th>Масса</th>
        <th>Радиус</th>
        <th>Радиус орбиты</th>
        <th>Чей спутник</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in Model)
        {
            <tr id="tr_@item.Id">
                <td>@item.Name</td>
                <td>@item.TypeName</td>
                <td>@item.Mass</td>
                <td>@item.Radius</td>
                <td>@item.Distance</td>
                <td>@item.OwnerName</td>
                <td><a href="@Url.Action("ChangeObject", new { id = item.Id })">Редактировать</a></td>
                <td><a onclick="onDeleteObject(@item.Id, 'tr_@item.Id');return false;" href="javascript:void(0);">Удалить</a></td>
            </tr>
        }
    }
    </tbody>
</table>
